<html>
	<head><title>Assets</title></head>
	<body><h1>Dispose Assets</h1>
		<h2><a href="{{url_for('dashboard')}}">Return to Dashboard</a></h2>
		<form action="{{url_for('dispose_asset')}}" method="POST">
			asset_tag:<br>
			<input type="text" name="asset_tag"> <br>
			<input type="submit" value="Remove">
		</form>
		That asset is not in the database, please enter an entry from the list below. <br>

		<table id="reportTable">
			<tr class="header">
				<th> ASSET TAG </th>
				<th> DESCRIPTION </th>
			</tr>

			{% for row in session.report_results %}
			<tr>
				<td> {{row.asset_tag}} </td>
				<td> {{row.description}} </td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
