<html>
	<head>
		<title>Lost</title>
	<style>
	div.container {
		width: 100%;
	}
	header {
		padding: 1em;
		color: black;
		background-color: white;
		clear: left;
		text-align: center;
	}
	nav {
		float: left;
		max-width: 160px;
		margin: 0;
		padding: 1em;
	}
	nav ul {
		list-style-type: none;
		padding: 0;
	}
	nav ul a {
		text-decoration: none;
	}
	article {
		margin-left: 170px;
		padding; 1em;
		overflow: hidden;
	}
	</style>
	</head>
	<body>
	<header>
		<h1>LOST</h1>
	</header>

	<nav>
		<ul>
			<form action="{{url_for('add_facility')}}" method="GET"><input type="submit" value="Facilities"></form>
			<form action="{{url_for('add_asset')}}" method="GET"><input type="submit" value="Assets"></form>
			<form action="{{url_for('transfer_req')}}" method="GET"><input type="submit" value="Transfer Request"></form>
			<form action="{{url_for('dispose_asset')}}" method="GET"><input type="submit" value="Dispose Asset"></form>
			<form action="{{url_for('asset_report')}}" method="GET"><input type="submit" value="Asset Report"></form>
			<form action="{{url_for('transfer_report')}}" method="GET"><input type="submit" value="Transfer Report"></form>
			<form action="{{url_for('logout')}}" method="POST"><input type="submit" value="Log Out"></form>
		</ul>
	</nav>

	<article>
		Successfully logged into the system as {{session.username}}. <br>
		The role for this account is: {{session.role}} <p>

		<table>
			{% for row in session.dash_results %}
			<tr>
				<td> {{row.val1}} </td>
				<td> {{row.val2}} </td>
				<td> {{row.val3}} </td>
				<td> {{row.val4}} </td>
				<td> {{row.val5}} </td>
				<td> {{row.val6}} </td>
			</tr>
			{% endfor %}
		</table>
	</article>
	</div>
	</body>
</html>
