<html>
	<head><title>Connected</title></head>
	<body><h1>Connected to LOST wsgi</h1>
		<table>
			<tr>
				<td> Logged in as {{session.username}} </td>
				<td><form action="{{url_for('logout')}}" method="POST"><input type="submit" value="Log Out"> </form></td>
			</tr>
		</table> <p><p>
		<table>
			<tr>
				<th> Report Type </th>
				<th> Filter By </th>
				<th> Input </th>
			</tr>
			<tr>
				<form action="{{url_for('reports')}}" method="POST">
					<td><select name="report">
						<option value="asset">Asset Report</option>
						<option value="transit">Transit Report</option>
					</select></td>
					<td><select name="type">
						<option value="none">None</option>
						<option value="fac">Facility</option>
						<option value="date">Date</option>
					</select></td>
					<td>
						<input type="text" name="filter">
						<input type="submit" value="Generate">
					</td>
				</form>
		</table>
	</body>
</html>
