<html>
	<head><title>REST API</title></head>
	<body><h1>API Calls</h1>
lost_key<br>
This is the only lost call that does not authenticate the requester and uses plaintext input<br>
and output.<br>
<p>
Request -<br>
The request does not provide values for any of the arguments though the data and<br>
signature fields must be present in the request.<br>
<p>
Response -<br>
result ‘OK’ or ‘FAIL’<br>
key The LOST public key<br>
<p>
Example:<br>
{<br>
"timestamp": "2017-02-02 06:15:13",<br>
"result": "OK",<br>
"key": "bksaoudu......aoelchsauh"<br>
}<br>
<p>
activate_user<br>
Reactivates LOST access for a user or generates a new user account if needed.<br>
<p>
Request -<br>
username OSNAP username to activate<br>
<p>
Example:<br>
{<br>
"timestamp": "2017-02-02 06:15:13",<br>
"username": "carter"<br>
}<br>
<p>
Response -<br>
result ‘OK’, ‘NEW’, or ‘FAIL’<br>
<p>
Example:<br>
{<br>
"timestamp": "2017-02-02 06:15:13",<br>
"result": "OK"<br>
}<br>
<p>
suspend_user<br>
Revokes access for a user. If the user does not exist or access has already been revoked,<br>
this call has no effect.<br>
<p>
Request -<br>
username OSNAP username to revoke<br>
<p>
Example:<br>
{<br>
"timestamp": "2017-02-02 06:15:13",<br>
"username": "jackson"<br>
}<br>
<p>
Response -<br>
result ‘OK’<br>
<p>
Example:<br>
{<br>
"timestamp": "2017-02-02 06:15:13",<br>
"result": "OK"<br>
}<br>
<p>
list_products<br>
Requests a listing of all products in LOST based on a filter criteria. Additional filters may<br>
be provided and additional data may be returned. The requests of the minimum form<br>
documented in the example must be accepted and the produced result must have at least<br>
the structure and fields of example provided. Asset information may not be provided by<br>
this call (e.g. no returning number of assets that are of product types).<br>
<p>
Request -<br>
vendor Case insensitive string to match against vendor name<br>
description Case insensitive string to match against product description<br>
compartments Security tags for the asset as a json array, all tags must be matched for<br>
compartment and level.<br>
<p>
Example:<br>
{<br>
"timestamp": "2017-02-02 06:15:13",<br>
"vendor": "",<br>
"description": "notepad",<br>
"compartments": []<br>
}<br>
<p>
Response -<br>
listing a json list containing the product information entries<br>
<p>
Example:<br>
{<br>
"timestamp": "2017-02-02 06:15:13",<br>
"listing": [<br>
{<br>
"vendor": "Dunder Mifflin",<br>
"description": "LOST legal size notepad",<br>
"compartments": []<br>
},<br>
{<br>
"vendor": "big n large",<br>
"description": "LOST legal size notepad"<br>
"compartments": []<br>
}<br>
]<br>
}<br>
<p>
add_products<br>
Adds products to LOST. Requests should be atomic (all products are added or no products<br>
are added) and attempting to add a duplicate product should cause the request<br>
to fail. A product is duplicated if at the end of the call the database would have two<br>
products with the same vendor and description.<br>
<p>
Request -<br>
new products a json list describing the new products<br>
<p>
Example:<br>
{<br>
"timestamp": "2017-02-02 06:15:13",<br>
"new_products": [<br>
{<br>
"vendor": "Dunder Mifflin",<br>
"description": "LOST letter size notepad",<br>
"alt_description": "Children’s storybook"<br>
"compartments": ["adm:s"]<br>
},<br>
{<br>
"vendor": "Stark Industries",<br>
"description": "Micronized Arc Reactor",<br>
"alt_description": "Baseball"<br>
"compartments": ["nrg:ts","wpn:s"]<br>
}<br>
}<br>
<p>
Response -<br>
result ‘OK’, or ‘FAIL’<br>
<p>
Example:<br>
{<br>
"timestamp": "2017-02-02 06:15:13",<br>
"result": "OK"<br>
}<br>
<p>
add_asset<br>
Adds a new asset to LOST.<br>
<p>
Request -<br>
vendor Vendor of the product<br>
description Description of the product<br>
compartments Additional compartments the asset should be classified under<br>
facility Facility code the asset is initially housed at<br>
<p>
Example:<br>
{<br>
"timestamp": "2017-02-02 06:15:13",<br>
"vendor": "Dunder Mifflin",<br>
"description": "LOST letter size notepad",<br>
"compartments": ["wpn:ts"],<br>
"facility": "HQ"<br>
}<br>
<p>
Response -<br>
result ‘OK’, or ‘FAIL’<br>
<p>
Example:<br>
{<br>
"timestamp": "2017-02-02 06:15:13",<br>
"result": "OK"<br>
}
	</body>
</html>
