<html>
	<head><title>Connected</title></head>
<style>
* {
	box-sizing: border-box;
}
		#reportTable {
			border-collapse: collapse;
				width; 100%
				border: 1px solid #ddd;
					font-size: 18px;
		}
		#reportTable th, #reportTable td {
			text-align: left;
				padding: 3px;
		}
		#reportTable tr {
			border-bottom: 1px solid #ddd;
		}
		#reportTable tr.header, #reportTable tr:hover {
			background-color: #f1f1f1:
		}
</style>
	<body><h1>Connected to LOST wsgi Reports Page</h1>
		<table>
			<tr>
				<td>
					<form action="{{url_for('login')}}">
						<input type="submit" value="Back">
					</form>
				</td><td>
					<form action="{{url_for('logout')}}" method="POST">
						<input type="submit" value="Log Out">
					</form>
				</td>
			</tr>
		</table>
		<table id="reportTable">
			<tr class="header"> 
				<th> REQUEST </th>
				<th> SOURCE </th>
				<th> DEST </th>
				<th> DEPARTURE DATE </th>
				<th> ARRIVAL DATE </th>
			</tr>

		{% for row in session.report_results %}
		<tr>
			<td> {{row.request}} </td>
			<td> {{row.source_fk}} </td>
			<td> {{row.dest_fk}} </td>
			<td> {{row.depart_dt}} </td>
			<td> {{row.arrive_dt}} </td>
		</tr>
		{% endfor %}	
		</table>

	</body>
</html>
